#exemplo{
    width: 200px;
    height: 200px;
    margin: 20px;
    border: 1px solid grey;
}

#titulo{
    color: white;
}

.vermelho{
    background-color: red;
}

.verde{
    background-color: green;
}

.azul{
    background-color: blue;
}

.preto{
    background-color: black;
}

.oculto {
    display: none;
}

.imagem {
    height: 400px;
    width: 590px;
}

.texto {
    width: 200px;
    height: 400px;
    overflow: auto;
}

.scrollbutton {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: red;
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 999;
    cursor: pointer;
    display: none;
}
.container {
    margin-top: -300px;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.button {
}

#telefone {
    display: none;
    margin-top: 50px;
    color: white;
}